db_uri = "{{database_uri}}"
Description = "{{description}}"
allowed_countries = {{allowed_country_codes}}

[payment]
local_fee = "{{exit_price_wei}}"
eth_private_key = "{{eth_private_key}}"
dynamic_fee_multiplier = {{fee_multiplier}}
node_list = [{% for node in full_nodes %}"{{node}}"{{ "," if not loop.last else "" }}{% endfor %}]
buffer_period = 3
price_oracle_enabled = false
system_chain = "{{system_chain}}"

[network]
mesh_ip = "{{exit_mesh_ip}}"
bounty_ip = "{{exit_mesh_ip}}"
babel_port = 6872
rita_contact_port = 4874
rita_hello_port = {{rita_port}}
rita_dashboard_port = {{rita_dashboard_port}}
rita_tick_interval = 5
bounty_port = {{bounty_port}}
wg_private_key = "{{wg_private_key}}"
wg_private_key_path = "/tmp/priv"
wg_public_key = "{{wg_public_key}}"
wg_start_port = {{wg_start_port}}
peer_interfaces = []
manual_peers = []
external_nic = "{{external_nic}}"
conf_link_local = true
default_route = []

[exit_network]
wg_tunnel_port = {{firewall_start_port}}
exit_hello_port = "{{exit_registration_port}}"
exit_start_ip = "172.168.0.100"
exit_price = {{exit_price_wei}}
own_internal_ip = "{{internal_nat_ip}}"
netmask = "{{internal_netmasq}}"
entry_timeout = 7776000
{% if region_lock_api_key is defined %}
api_key = "{{region_lock_api_key}}"
{% endif %}

{% if mailer %}
[verif_settings]
type = "Email"

[verif_settings.contents]
from_address = "{{email_address}}"
email_cooldown = 100
smtp_url = "{{smtp_url}}"
smtp_domain = "{{smtp_domain}}"
smtp_username = "{{smtp_username}}"
smtp_password = "{{smtp_password}}"
test = false
test_dir = ""
{% elif phone %}
[verif_settings]
type = "Phone"

[verif_settings.contents]
api_key = "{{phone_api_key}}"
{% else %}
[verif_settings]
type = "Off"
{% endif %}

[dao]
dao_enforcement = false
cache_timeout_seconds = 600
node_list = [{% for node in full_nodes %}"{{node}}"{{ "," if not loop.last else "" }}{% endfor %}]
dao_addresses = []
