# This is a systemd service for Rita-exit
[Unit]
Description=rita-exit
Requires=network.target
After=babeld.service

[Service]
Type=simple
TimeoutStartSec=10s
RestartSec=10
Restart=on-failure
Environment=RUST_LOG=INFO
ExecStart=/usr/bin/rita_exit --config=/etc/rita-exit.toml

[Install]
WantedBy=default.target
