db_file = "{{database_dir}}exit.db"
Description = "{{description}}"
allowed_countries = {{allowed_country_codes}}

[payment]
eth_private_key = "{{eth_private_key}}"
dynamic_fee_multiplier = {{fee_multiplier}}
node_list = [{% for node in full_nodes %}"{{node}}"{{ "," if not loop.last else "" }}{% endfor %}]
buffer_period = 3

[network]
mesh_ip = "{{exit_mesh_ip}}"
bounty_ip = "{{exit_mesh_ip}}"
babel_port = 6872
rita_contact_port = 4874
rita_hello_port = {{rita_port}}
rita_dashboard_port = {{rita_dashboard_port}}
rita_tick_interval = 5
bounty_port = {{bounty_port}}
wg_private_key = "{{wg_private_key}}"
wg_private_key_path = "/tmp/priv"
wg_public_key = "{{wg_public_key}}"
wg_start_port = {{wg_start_port}}
peer_interfaces = []
manual_peers = []
external_nic = "{{external_nic}}"
conf_link_local = true
default_route = []

[exit_network]
wg_tunnel_port = {{firewall_start_port}}
exit_hello_port = "{{exit_registration_port}}"
exit_start_ip = "172.168.0.100"
exit_price = 50
own_internal_ip = "{{internal_nat_ip}}"
netmask = "{{internal_netmasq}}"

{% if mailer %}
[mailer]
from_address = "{{email_address}}"
email_cooldown = 100
smtp_url = "{{smtp_url}}"
smtp_domain = "{{smtp_domain}}"
smtp_username = "{{smtp_username}}"
smtp_password = "{{smtp_password}}"
test = false
test_dir = ""
{% endif %}

[dao]
dao_enforcement = false
cache_timeout_seconds = 600
node_list = [{% for node in full_nodes %}"{{node}}"{{ "," if not loop.last else "" }}{% endfor %}]
dao_addresses = []
