[Interface]
PrivateKey = {{wg_private_key}}
ListenPort = {{wg_port}}

{% for peer in clients %}
[Peer]
PublicKey = {{peer.wg_pubkey}}
Endpoint = [{{peer.mesh_ip}}]:{{wg_port}}
AllowedIPs = {{peer.internal_ip}}/32
PersistentKeepalive = 25

{% endfor %}
