# This is a systemd service for Wireguard
[Unit]
Description=wireguard
Requires=network.target
After=network.target

[Service]
Type=oneshot
TimeoutStartSec=10s
ExecStart=/bin/start-wg
ExecReload=/bin/update-wg

[Install]
WantedBy=default.target
