# This is a systemd service for Babeld
[Unit]
Description=babeld
Requires=network.target
After=wiregaurd.service

[Service]
Type=simple
TimeoutStartSec=10s
ExecStart=/usr/local/bin/babeld -G 6872 -d1 -h1 -c /etc/babeld.conf lo

[Install]
WantedBy=default.target
