[Interface]
Address = 172.168.1.254/16
PrivateKey = {{wg_private_key}}
ListenPort = {{wg_port}}

{% for item in clients %}
[Peer]
PublicKey = {{item.pubkey}}
AllowedIPs = {{item.ip}}/32

{% endfor %}
