# This is a systemd service for compressed_log_sink
[Unit]
Description=compressed_log_sink
Requires=network.target

[Service]
Type=simple
TimeoutStartSec=10s
RestartSec=10
Restart=on-failure
Environment=RUST_LOG=INFO
ExecStart=/usr/bin/compressed_log_sink --bind={{aggregator_domain}}:{{aggregator_port}} \
 --output=- \
 --key={{key_path}} \
 --cert={{cert_path}}

[Install]
WantedBy=default.target
