database_dir: "/var/rita/"
rita_port: 4876
rita_dashboard_port: 4877
exit_registration_port: 4875
bounty_port: 8888
wg_start_port: 60000
firewall_start_port: 59999
rita_bin_url: "https://github.com/althea-mesh/althea_rs/releases/download/Beta9RC5/rita"
