---
# Sets up Babeld service on systemd systems

- name: Disable firewalld
  service:
    name: firewalld
    state: stopped
    enabled: no
  become: true
  ignore_errors: true

- name: Check iptables status
  service:
    name: "{{item}}"
    state: started
    enabled: yes
  become: true
  with_items:
    - iptables
    - ip6tables
  when: ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux' or ansible_distribution == 'Fedora' 

- name: save iptables rules
  shell: "service {{item}} save"
  become: true
  with_items:
    - iptables
    - ip6tables
  when: ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux' or ansible_distribution == 'Fedora' 

- name: save iptables rules
  shell: "{{item}}"
  become: true
  with_items:
    - "iptables-save > /etc/iptables/rules.v4"
    - "ip6tables-save > /etc/iptables/rules.v6"
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'


- name: Template Babeld service file
  template:
    src: babeld.service.j2
    dest: /etc/systemd/system/babeld.service
  become: true
  register: babel_service

- name: Set babeld to run on startup
  systemd:
    daemon_reload: yes
    name: babeld
    state: restarted
    enabled: yes
  become: true

- name: Set log retention values
  command: "journalctl --vacuum-size=500M"
  become: true

- name: Wait for Quick crashes
  pause:
    seconds: 30

- name: Check if Babeld is running
  command: systemctl status babeld
  ignore_errors: yes
  changed_when: false
  register: babeld_status

- name: Report status of Babeld
  fail:
    msg: |
      Service babeld is not running.
      Output of `systemctl status babeld`:
      {{ service_apache_status.stdout }}
      {{ service_apache_status.stderr }}
  when: babeld_status is failed
