# This is a systemd service for Babeld
[Unit]
Description=babeld
Requires=network.target
After=wiregaurd.service

[Service]
Type=simple
TimeoutStartSec=10s
ExecStart=/usr/local/bin/babeld {% for gateway in gateways %} wgBridge-{{gateway.port}} {% endfor %} wgInternal -d1 -h1 -c /etc/babeld.conf

[Install]
WantedBy=default.target
